# KUIS 2 Pembelajaran Mesin
### Nama : ONY NOVIANTI
### Kelas/No : TI-3A/19
### NIM : 2041720029

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut. impute/drop
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin) 
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [77]:
import pandas as pd
import numpy as np

df_copy = pd.read_excel('data/dataset_quiz.xlsx')
df = df_copy
df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

Untuk menangani data NaN, maka akan dilakukan pengisian nilai 0 untuk setiap data Nan atau null

In [78]:
df.fillna(0, inplace=True)

Encode data : categorical ke numeric

In [79]:
# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['keterlibatan_vltr']= label_encoder.fit_transform(df['keterlibatan_vltr'])
df['skema']= label_encoder.fit_transform(df['skema'])
df['luaran_hki']= label_encoder.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki']= label_encoder.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki']= label_encoder.fit_transform(df['potensi_hki'])
df['luaran_lain']= label_encoder.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain']= label_encoder.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain']= label_encoder.fit_transform(df['status_luaran_lain'])

df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1

## 1. Pemilahan data training dan testing

In [80]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
# Rasio yang akan kita gunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0, stratify=df['luaran_hki'])

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['luaran_hki'])

### Data Training dan Data Testing yang didapat

In [81]:
# Cek masing-masing ukuran data
print(f'Jumlah data asli: {df.shape[0]}')
print(f'Jumlah data train: {df_train.shape[0]}')
print(f'Jumlah data test: {df_test.shape[0]}')

# Cek rasio tiap label
print('-------------------------------')
print(f'Jumlah label data asli:\n{df.luaran_hki.value_counts()}')
print(f'Jumlah label data train:\n{df_train.luaran_hki.value_counts()}')
print(f'Jumlah label data test:\n{df_test.luaran_hki.value_counts()}')

Jumlah data asli: 85
Jumlah data train: 68
Jumlah data test: 9
-------------------------------
Jumlah label data asli:
1    77
0     8
Name: luaran_hki, dtype: int64
Jumlah label data train:
1    62
0     6
Name: luaran_hki, dtype: int64
Jumlah label data test:
1    8
0    1
Name: luaran_hki, dtype: int64

## 2. Tentukan data validasi

In [82]:
print(f'Jumlah data validasi: {df_val.shape[0]}')
print(f'Jumlah label data val:\n{df_val.luaran_hki.value_counts()}')

Jumlah data validasi: 8
Jumlah label data val:
1    7
0    1
Name: luaran_hki, dtype: int64

## 3. Kolom yang menjadi label

Menurut pengamatan, maka yang cocok menjadi label adalah 'luaran_hki'

## 4. Jenis metode klasifikasi dan lakukan perbandingan akurasi

Beberapa metode klasifikasi yang dapat digunakan :

In [83]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

X = df.loc[:, df.columns != 'luaran_hki']
y = df['luaran_hki']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42, test_size=0.2)

models = {
    "knn": KNeighborsClassifier(n_neighbors=1),
    "naive_bayes": GaussianNB(),
    "logit": LogisticRegression(solver="lbfgs", multi_class="auto"),
    "svm": SVC(kernel="rbf", gamma="auto"),
    "decision_tree": DecisionTreeClassifier(),
    "random_forest": RandomForestClassifier(n_estimators=100),
    "mlp": MLPClassifier()
}

### 4.1 Metode Kneighbors

In [84]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

#model
ml_model = "knn"

print("[INFO] using '{}' model".format(ml_model))
model = models[ml_model]
model.fit(X_train, y_train)

# Akurasi
predictions = model.predict(X_test)
print(classification_report(y_test, predictions))

print("Test set Accuracy: ", round(accuracy_score(y_test,predictions),2))

[INFO] using 'knn' model
              precision    recall  f1-score   support

           0       0.33      0.50      0.40         2
           1       0.93      0.87      0.90        15

    accuracy                           0.82        17
   macro avg       0.63      0.68      0.65        17
weighted avg       0.86      0.82      0.84        17

Test set Accuracy:  0.82

### 4.2 Metode GaussianNB

In [85]:
#model
ml_model = "naive_bayes"

print("[INFO] using '{}' model".format(ml_model))
model1 = models[ml_model]
model1.fit(X_train, y_train)

# Akurasi
predictions = model1.predict(X_test)
print(classification_report(y_test, predictions))

print("Test set Accuracy: ", round(accuracy_score(y_test,predictions),2))

[INFO] using 'naive_bayes' model
              precision    recall  f1-score   support

           0       1.00      0.50      0.67         2
           1       0.94      1.00      0.97        15

    accuracy                           0.94        17
   macro avg       0.97      0.75      0.82        17
weighted avg       0.94      0.94      0.93        17

Test set Accuracy:  0.94

### 4.3 Metode Logistic Regression

In [86]:
#model
ml_model = "logit"

print("[INFO] using '{}' model".format(ml_model))
model2 = models[ml_model]
model2.fit(X_train, y_train)

# Akurasi
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

predictions = model2.predict(X_test)
print(classification_report(y_test, predictions))

print("Test set Accuracy: ", round(accuracy_score(y_test,predictions),2))

[INFO] using 'logit' model
              precision    recall  f1-score   support

           0       0.50      1.00      0.67         2
           1       1.00      0.87      0.93        15

    accuracy                           0.88        17
   macro avg       0.75      0.93      0.80        17
weighted avg       0.94      0.88      0.90        17

Test set Accuracy:  0.88

d:\Aplikasi\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 5. Tunning hyperparameter
### 5.1 GridSearchCV

In [87]:
from sklearn.model_selection import RepeatedKFold

# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

Menggunakan metode klasifikasi k-NN dengan parameter n_neighbors, weights, dan metric

In [88]:
from sklearn.model_selection import GridSearchCV
# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'n_neighbors' : [5,7,9,11,13,15],
               'weights' : ['uniform','distance'],
               'metric' : ['minkowski','euclidean','manhattan']
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(model, param_grid=params, cv=cv)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit grid.fit(X, y)

# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

1.5 s Â± 90.9 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'metric': 'minkowski', 'n_neighbors': 9, 'weights': 'distance'}

### 5.2 RandomSearch

In [89]:
from sklearn.model_selection import RandomizedSearchCV

rand = RandomizedSearchCV(model, params, cv=cv, scoring='accuracy', n_iter=10, random_state=5)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
rand.fit(X, y)

# Evaluasi dengan score
score = rand.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {rand.best_params_}')

Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'weights': 'distance', 'n_neighbors': 11, 'metric': 'manhattan'}